.loginWrapper {
  margin: 40px 40px;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;

  /* width: 50%; */
  height: 50%;
}

h1 {
  margin-top: 6rem;
  text-align: center;
  color: lightgrey;
}

.loginContainer {
  background-color: white;
  width: 20rem;
  height: 23rem;
  justify-content: center;
  border-radius: 15px;
  background-color: rgb(37, 36, 36);;
  color: white;
  font-weight: bold;
  
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notAccount{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  color: lightgray;
}