button,
input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
 
.signupWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
}
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  z-index: 10;
  width: 600px;
  height: 450px;
  background: rgb(68 65 70 / 28%);
  backdrop-filter: blur(50px);
}

.signup h1 {
  color: rgb(255 255 255 /69%);
}

.form {
  gap: 16px;
}


