button,
input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
 
.signupWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
}
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  z-index: 10;
  width: 600px;
  height: 450px;
  background: rgb(68 65 70 / 28%);
  backdrop-filter: blur(50px);
}

.signup h1 {
  color: rgb(255 255 255 /69%);
}

.form {
  gap: 16px;
}

.textBox {
  position: relative;
  margin-bottom: 16px;
}

.textBox span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgb(255 255 255 /40%);
}

.textBox input {
  padding: 0 24px 0 36px;
  border-bottom: 2px solid rgb(255 255 255 /5%);
  color: rgb(255 255 255 /96%);
  height: 72px;
  transition: 0.3s;
}
:is(input:focus, input:valid) ~ label {
  translate: -40px -40px;
  scale: 0.875;
}
input:focus ~ label {
  color: rgb(255 255 255 /40%);
}
input:focus {
  border-color: rgb(255 255 255 /76%);
}

:is(input:focus, input:valid) ~ span {
  border-color: rgb(255 255 255 /76%);
}

.textBox label {
  translate: 0 -50%;
  color: rgb(255 255 255 /40%);
  pointer-events: none;
  transition: 0.4s;
}

.form button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: rgb(255 255 255 /12%);
    color: #f9f9f9;
    border: 0;
}
