.NavWrapper {
  height: 10vh;
  /*width: calc(100% - 250px);*/
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  background-color: rgb(29, 28, 28);
  top: 0;
  width: 100%;
}

.title {
  flex: 0.8;
  display: flex;
  /* text-align: center; */
  /* place-content: center; */
  font-size: 3rem;
  border-bottom: 0.1px solid #38393a;
  letter-spacing: 0.2rem;
  font-weight: bold;
  padding-left: 0.5rem;
  background: linear-gradient(42deg, #723e7b 10.2%, #9b2352 82.74%);
  background-clip: text;
  color: transparent;
}
.dropDown-wrapper {
  text-align: center;
  place-content: center;
  flex: 1;
  border-bottom: 0.1px solid #38393a;
}
.dropDown {
  border: none;
  background: linear-gradient(42deg, #723e7b 10.2%, #9b2352 82.74%);
  color: rgb(134, 132, 132);
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}
option {
  color: black;
  background-color: white;
}

.searhBar {
  flex: 1;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid #38393a;
  place-content: center;
}
form {
  display: flex;
  gap: 1rem;
}
.searhBar input {
  display: flex;

  text-align: center;
  border: none;
  width: 300px;
  height: 40px;
  border-radius: 15px;
}

svg:hover {
  cursor: pointer;
}
